.price {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    flex-grow: 0;
  }
  &__increased {
    color: green;
    font-weight: 800;
  }
  &__descreased {
    color: red;
    font-weight: 800;
  }

  &__svg {
    flex-basis: 12%;
    align-items: center;
    justify-content: center;
  }
  &__text {
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    p {
      margin-bottom: 0;
    }
  }
}
